body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFFFD6;
}
#header {
    background-image: url('../images/corgimail.png');
    background-size:contain;    
    background-color: black;
    height:5rem;
    margin-top:3.2rem;
    padding:3rem;
    width:100%;
}
h1 {
    color: #48271E;
    font-size:50px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #271214;
}
h2, h1 {
    display: flex;
    justify-content: center;
}
div a {
    color: #77422C;
    text-decoration: none;
    font-weight: bold;
    text-shadow: -.5px .5px .5px #271214;
}
    div a:hover {
        color: #B5754B;
    }
