@model IEnumerable<ReviewSite.Models.Review>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
    <link href="~/css/DisplayAll.css" rel="stylesheet" />
</head>
<body>
    <div id="back-btn">
        <a href="/" class="button" style="vertical-align:middle">
            <span>Home</span>
        </a>
    </div>

    <h1>Category</h1>
    <div id="names">
        @foreach (var category in Model)
        {
            <div>
                <a href="http://localhost:50306/review/details/@category.Id">
                    @category.CategoryId
                    @category.Title
                </a>

            </div>
        }
    </div>
</body>
</html>
