
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/IndexSheet.css" rel="stylesheet" />
</head>
<body>
    <h1 align="left">
        Corgi Types
    </h1>

    <h2><a href="/Review/AllReviews">All Reviews</a></h2>
    <h2><a href="http://localhost:50306/Category/AllCategories">All Categories</a></h2>

</body>
</html>
